<h2>Test Profile</h2>

<%= link_to "Orders", orders_path %> |

<%= link_to "Ratings you've given", ratings_path %>

<h3> Your Current Listings: </h3>
<div class="items-grid">
  <% @items.each do |item| %>
    <div class="item-card">
      <h3><%= link_to item.name, item %></h3>
      <p><strong>Description:</strong> <%= item.description %></p>
      <p><strong>Price:</strong> $<%= item.price %></p>
      <p><strong>Condition:</strong> <%= item.condition %></p>
      <p><strong>Seller:</strong> <%= item.user.name %></p>
    </div>
  <% end %>
</div>