<%= form_with model: @item do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
  
    <div>
      <%= form.label :description %><br>
      <%= form.text_area :description %>
    </div>
  
    <div>
      <%= form.label :price %>
      <%= form.number_field :price, step: "0.01", min: "0", class: "form-control", required: true %>
    </div>
  
    <div>
      <%= form.label :condition %>
      <%= form.select :condition, options_for_select(["NEW", "USED", "FAIR"]), {}, class: "form-control", required: true %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>

<% end %>