<h1>Items</h1>

<h2><%= link_to "Create New Listing", new_item_path %></h2>

<div id='separator'></div> 

<div class="center-display">

<div class="items-grid">
  <% @items.each do |item| %>
    <div class="item-card">
      <h3><%= item.name %></h3>
      <p><strong>Description:</strong> <%= item.description %></p>
      <p><strong>Price:</strong> $<%= item.price %></p>
      <p><strong>Condition:</strong> <%= item.condition %></p>
    </div>
  <% end %>
</div>

</div>