<h1><%= @item.name %></h1>

<div class="item-card">
    <h3><%= @item.name %></h3>
    <p><strong>Description:</strong> <%= @item.description %></p>
    <p><strong>Price:</strong> $<%= @item.price %></p>
    <p><strong>Condition:</strong> <%= @item.condition %></p>
    <p><strong>Seller:</strong> <%= @item.user.name %></p>
    <p><strong>Seller rating:</strong> <%= @seller_rating %></p>
</div>

<% if @item.user_id == session[:user_id] %>
  <p><%= link_to "Edit Item", edit_item_path(@item) %> |
  <%= link_to "Delete Item", item_path(@item), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
  </p>
<% end %>

<div id='separator'></div> 

<% if current_cart.items.include?(@item) %>
  <p><strong>Already in Cart</strong></p>
<% elsif @item.user_id == current_user.id %>
  <p><strong>This is your item</strong></p>
<% else %>
  <%= button_to 'Add to Cart', add_item_to_cart_path(item_id: @item.id), method: :post %>
<% end %>
<div id='separator'></div> 


<%= link_to "Back to All Listings", root_path %>