<!DOCTYPE html>
<html>
  <head>
    <title>simple store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Navbar or header area for login/logout links -->
    <header>
      <div class="left-header">
      <% if current_user %>
        <p>Welcome, <%= current_user.name %>! | 
        <%= link_to "Logout", logout_path, method: :delete %> |
        <%= link_to "My Profile", profile_path, method: :get %></p>
      <% else %>
        <%= link_to "Login", login_path %>
      <% end %>
      </div>

      <div class="right-header">
        <%= link_to "Home Page", root_path %>
      </div>
    </header>
    
    <%= yield %>

  </body>
</html>
